@media screen and (max-height:600px){
  .hero {
    &__scroll-down{
      display: none;
    }
  }
}

@media screen and (max-width:1278px){
  html {
    font-size: 13px;
  }
}

@media screen and (max-width:1200px){
  html {
    font-size: 11px;

  }

  .menu {
    &__nav {
      margin-right: 0.5rem;
    }
  }
  .logo {
    margin-right: 1.2rem ;
  }
  .contacts {
    &__phone {
      margin-right: 1.3rem;
    }
  }
}

@media screen and (max-width:992px){
  .menu {
    &__nav {
      display: none;
    }
  }
  .hero {
    &__instagram {
      display: none;
    }
    &__scroll-down{
      display: none;
    }
  }
}

@media screen and (max-width:768px){
  html {
    font-size: 12px;
  }
  
  .menu {
    &__contacts {
      .contacts__phone {
        text-decoration: none;
        color: $light;
        margin-right: 0;
      }
      .contacts-button {
        display: none;
      }
    }
    
  }

  .hero {
    padding-top: 60px;
    &__content {
      padding-left: 1.28rem;
      padding-right: 1.28rem;
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      margin-right: 0;
      .button--primary {
        box-shadow: none;
        margin-right: 0;
        margin-bottom: 26px;
      }
      .button--outline {
        box-shadow: none;
      }
    }
  }
}

@media screen and (max-width:576px){
  html {
    font-size: 14px;
  }

  .menu {
    &__logo {
      font-size: 0.857rem;
    }

  }

  .hero {
    &__content {
      padding-left: 1.28rem;
      padding-right: 1.28rem;
    }
    &__title {
      font-size: 1.642rem;
      max-width: 24.21rem;
    }
    &__text {
      font-size: 1.28rem;
      max-width: 22.92rem;
    }
  }
}