@media screen and (max-height:600px){
  .hero {
    &__scroll-down{
      display: none;
    }
  }
}

@media screen and (max-width:1278px){
  html {
    font-size: 13px;
  }
}

@media screen and (max-width:1200px){
  html {
    font-size: 11px;
  }

  .menu {
    &__nav {
      margin-right: 0.5rem;
    }
  }
  .logo {
    margin-right: 1.2rem ;
  }
  .contacts {
    &__phone {
      margin-right: 1.3rem;
    }
  }
  .control {
    &__video {
      min-height: 40rem;
    }
  }
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:992px){
  .back-to-top {
    opacity: 0;
    visibility: hidden;
  }

  html {
    font-size: 10px;
  }

  .section-title-heading {
    font-size: 2rem;
    letter-spacing: -1px;
  }
  .section-title__image {
    margin-bottom: 3rem;
  }
  .card__pricetag {
    box-shadow: none;
  }
  .card__text {
    margin-bottom: 6.2rem;
  }
  .section-info {
    margin-top: -3.5rem;
    font-size: 1.1rem;
    max-width: 25.5rem;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .types {
    &__card {
      margin-bottom: 5.21rem;
    }
    
  }
  .design {
    &__card {
      margin-bottom: 4.21rem;
    }

    &__col:nth-child(3){
      li:nth-child(n+8) {
        display: none;
      }
        li:nth-child(7){
          &::after {
            content:'...';
          }
        }
    }
    &__card--pricetag{
      padding: 0.85rem 3.84rem;
      bottom: -1.7rem;
      
    }
      
  }
  .card {
    &__text {
      margin-left: 0;
      margin-top: -12.34rem ;
      padding: 1.98rem 2.55rem;
    }
  }
  


  .col-secion-project {
    width: 100%;
  }

  .project--swiper-slide__text {
    width: 100%
  }

  .section {
    &-title {
      &__word {
        &::after {
          display: none;
        }
      }
    }
  }




  .project {
    &-image__col  {
      padding-top: 1.78rem;
      width: 100%;
    }
  }

  .col-poject-image {
    margin-top: 25px;
    width: 100%;
  }

  .project__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .control {
    &__section {
      background: $dark;
      color: $light;
    }
    &__section-title {
      margin-bottom: 2.314rem;
      margin-top: -14rem;
      color: $light;
      &-heading {
        font-size: 1.8rem;
        margin-top: 0.2rem;
        margin-bottom: 2rem;
      }
    }
    &__text {
      color: $light;
    }
    &__label {
      font-size: 1.3rem;
      
      color: rgba($light, 0.5);
    }
    &__input {
      
      bottom: 0.2857rem;
      width: 100%;
      color: $light;
  
      &::placeholder {
        position: absolute;
        color: $light;
        
      }
    }
  }

  .step {
    display: none;
  }

  .menu {
    &__nav {
      display: none;
    }
  }
  .hero {
    &__instagram {
      display: none;
    }
    &__scroll-down{
      display: none;
    }
  }

  .team {
    &__desktop {
      display: none;
    }
    &__mobile {
      display: block;
    }
    padding-top: 1.8rem;
    background-color: $dark;
    &__section-title {
      &-heading {
        font-size: 1.95rem;
        color: $light;
        margin:  0 0 1.5rem;
      }
    }

    

    &__card {
      margin-bottom: 7.5rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; 

      &-title {
        background-color: $light;
        margin-top: -6.85rem;
        position: relative  ;
        max-width: 19.3rem;
        padding-top: 1.7rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }
    &-info {
      font-size: 1.5rem;
    }
    }
    &__title-text {
      display: none;
    }
    &.col-32 {
      flex-basis: 44%;
    }
    &__row {
      
      padding: 0;
      
    }
    &__section-title-info {
      margin-top: -1.6rem;
      margin-bottom: 6.5rem;
      font-size: 1.25rem;
      max-width: 27rem;
      line-height: 1.8rem;
    }
    .card {
      &__team {
        
        font-size: 1.5rem;
        margin-bottom: 0.5rem;


      }
      &__standing {
        margin-top: 20px;
        font-size: 1rem;
        padding: 1.3rem 4.1rem;
      }
    }
  }
}

@media screen and (max-width:768px){
  html {
    font-size: 12px;
  }



  .section {
    
    &-title { 
      font-size: 1.2rem;
      margin-bottom: 0.2rem;
    }
    
  }



  
  .design {
    &__card {
      margin-bottom: 4.21rem;
    }

    &__col:nth-child(3){
      li:nth-child(n+8) {
        display: none;
      }
        li:nth-child(7){
          &::after {
            content:'...';
          }
        }
    }
    &__card--pricetag{
      padding: 0.85rem 3.84rem;
      bottom: -1.7rem;
      
    }
      
  }
  .card {
    &__text {
      margin-left: 0;
      margin-top: -12.34rem ;
      padding: 1.98rem 2.55rem;
    }
  }
  
  .menu {
    &__contacts {
      .contacts__phone {
        text-decoration: none;
        color: $light;
        margin-right: 0;
      }
      .contacts-button {
        display: none;
      }
    }
    
  }

  .hero {
    padding-top: 60px;
    &__content {
      padding-left: 1.28rem;
      padding-right: 1.28rem;
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      margin-right: 0;
      .button--primary {
        box-shadow: none;
        margin-right: 0;
        margin-bottom: 26px;
      }
      .button--outline {
        box-shadow: none;
      }
    }
  }

  .control {
    
    &__section-title {  
      margin-bottom: 4rem;
    }
    &__video {
      min-height: 33rem;
    }
    &__form {

      flex-direction: column;
      align-items: stretch;
      
    }
    &__input-group {
      height: 51px;
      width: 100%;
      
      
      &:nth-child(1){
        margin-bottom: 56px;
      }
    }
    &__policy {

      margin-top: 0.5rem;
      margin-bottom: 5.3rem;
    }
    &__button {
      margin-bottom: -20px;
      font-size: 1.2rem;
      padding: 18px 66px;
    }


    &__button {
      order: 3;
    }
  }

  .footer{
    padding: 0;
    background: $dark;
    &__form {
      width: 100%;
      margin: 0;
      background: transparent;

    }
    &__section-title-heading {
      font-size: 1.6rem;
      margin-bottom: 4.5rem;
    }
    &__question {
      width: 100%;
      flex-direction: column;
      
    }
    &__question {
      width: 100%;
    }
    &__input {
      font-size: 18px;
    }
    &__input-group {
      margin-bottom: 63px;
      &:nth-child(3){
        margin-top: 0;
        margin-bottom: 1.6rem;
      }
    }
    &__policy {
      margin-left: -1rem;
      margin-top: 0;
      display: flex;
      justify-content: flex-start;
    }

  }

  

}


/*-----------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:576px){
  html {
    font-size: 12px;
  }
  .menu {
    
    &__logo {
      font-size: 0.2rem;
    }

  }

  .hero {
    margin-top: -1.45rem;
    &__content {
      padding-left: 1.28rem;
      padding-right: 1.28rem;
    }
    &__title {
      font-size: 1.742rem;
      max-width: 24.21rem;
      line-height: 150%;
    
    }
    &__text {
      font-size: 1.58rem;
      max-width: 28rem;
      line-height: 140%;
    }
  }

  .control {
    &__video {
      box-shadow: none;
      background: url('../img/vide-bg-min.jpg') no-repeat center;
    }
    
  }
  .video__play {
  width: 90px ;
  }

  .team {
    &__row {
      align-items: flex-end;
      
    }
  }
}







.back-to-top {
  display: none;
  position: fixed;
  left: 5px;
  bottom: 15px;
  width: 30px;
  height: 30px;
  &::after {
    width: 10px;
    height: 10px;
  }
}


