*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Futura Book',sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

sup {
  top: -0.8em;
  font-size: 0.6rem;
  padding-left: 0.05rem;
}

.section {
 
  &--dark {
    background-color: $dark;
    color: $light;
  }
  &--light {
    background-color: $light;
    color: $dark;
  }
  &-title { 
    text-align: center;
    text-transform: uppercase;
    &--left {
      text-align: left;
    }

    &-heading {

      font-stretch: narrower;
      font-weight: normal;
      font-size: 1.42rem;
      font-family: 'Yeseva One', cursive;
      text-transform: uppercase;
        &--primary {
          color: $primary;
        }
      }
    &-control__heading {
      font-stretch: narrower;
      letter-spacing: -0.07em;
      font-weight: normal;
      font-size: 1.93rem;
      font-family: 'Yeseva One', cursive;
      text-transform: uppercase;
      line-height: 140%;
      &--primary {
        color: $primary;
      }
    }
    &__word {
      display: flex;
      align-items: center;
      &::after {
        content: '';
        width: 93px;
        height: 1px;
        background-color: $primary;
        margin-left: 2.5rem;
        
      }
    }

    &-control__text {
      margin-top: -1px;
      line-height: 2.0rem;
      max-width: 31.57rem;
      font-weight: normal;
      font-size: 1.285rem;
      line-height: 2.07rem;
      text-transform: none;
      margin-bottom: 20px;
    }

    &__image {
      margin-top: -0.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after, &::before {
        content: '';
        width: 30px;
        height: 2px;
        background-color: $primary;
        margin: 0 10px;
      }
    }
    
  }
  &-info {
    margin: auto;
    text-align: center;
    font-size: 1.23rem;
    font-weight: normal;
    text-transform: none;
    line-height: 1.92rem;
    font-family: 'FuturaBookC',sans-serif;
  }
  }