*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Futura Book',sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

sup {
  top: -0.8em;
  font-size: 0.6rem;
  padding-left: 0.05rem;
}

.section {
  padding: 60px 0;
  &-title { 
    font-size: 0.95rem;  
    text-align: center;
    text-transform: uppercase;
    font-family: 'Yeseva One', cursive;
    &__image {
      margin-top: -0.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after, &::before {
        content: '';
        width: 30px;
        height: 2px;
        background-color: $primary;
        margin: 0 10px;
      }
    }
    
  }
  &-info {
    margin: auto;
    text-align: center;
    font-size: 1.23rem;
    font-weight: normal;
    text-transform: none;
    line-height: 1.92rem;
    font-family: 'FuturaBookC',sans-serif;
  }
}