.design {
  padding-top: 6rem;
  background:linear-gradient($light 50%, $dark 50%) ;
  
  &__row {
    padding: 0 13px;
    background: transparent;
    
  }
  
  &__section-title {
    margin-bottom: 2.21rem;
  }
  &__card--pricetag{
    padding: 1.21rem 5.7rem 1.21rem 2.36rem;
    bottom: -1.7rem;
    left: 0;
  }
  &__section-info {
    padding: 1rem 0 3.4rem 0;
    max-width: 52.57rem;
  } 

  
}


