.footer {
  padding-top: 1rem;
  background: $dark url('../img/footer-bg.jpg') no-repeat center;
  background-size: cover ;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(black  , 0.8);
    
  }
  &__wrap {
    position: relative;
    max-width: 63.07rem;
    margin: -16.9rem auto 0;
    padding-top: 2.3rem;
    padding-bottom: 2.5rem;
    margin-bottom: 2.1rem;
    background: $dark url('../img/form-footer-bg.svg');
  }
  &__title {
    margin: 0;
    margin-bottom: 3.1rem;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4285rem;
    
    color: $light;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    max-width: 37.07rem;
    margin: auto;
    flex-flow: wrap;
  }
  &__input {
      
    margin-top: -0.1rem;
    color: $light;
    &::placeholder {
      color: $light;
    }
  }
  &__input-group {
    flex-basis: 44%;
    &:nth-child(3) {
      margin-top: 3.1rem;
      flex-basis: 100%;
    }
  }
  &__policy {
    margin-top: 2.1rem;
    margin-bottom: 3.4rem;
    
    flex-basis: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1428rem;
    line-height: 1.5714rem;
    color: $light;
  }
  &__button {
    margin: auto;
    padding: 1.2857rem 4.4285rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.07rem;
    text-transform: uppercase;
    color: $light;
  }
  &__addres {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto ;
    &-info {
    max-width: 37.14rem;
    position: relative;
    
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1.428rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;  
    color: $primary;  
    }
    &-img {
      width: 5rem;
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 0.2142rem auto 0;
    }
  }
  &__addres-map {
    margin: auto;
    max-width: 66rem;
  }
  &__map {
    position: relative;
    max-height: 35.7rem;
    
    margin: 2.9rem auto 4.8rem;
    min-height: 32.57rem;
  }
  &__map {
    margin: 0;
  }
  &__menu {
    position: relative;
    padding: 1.7142rem 0;
    background-color: $dark;
  }
  
}