.hero {
  position: relative;
  display: flex;
  padding-top: 95px;
  height: 100vh;
  color: $light;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50px;
      background-color: $dark;
    }
  &__instagram {
    margin-top: -36px;
    max-width: 80px;
    height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -17px;
    padding-left: 4.28rem;
    width: 100%;
    height: 100%;
    position: relative;
    
    background: $dark url('../img/hero-bg.jpg') no-repeat center;
    
    background-size: cover;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($dark, 0.8);
  }
  }

  &__title {
    
    max-width: 47.85rem;
    position: relative;
    margin: 0;
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.857rem;
    line-height: 135%;
    &--primary {
      color: $primary;
      
    }
  }

  &__text {
    margin-top: 1.315rem;
    margin-bottom: 3.2rem;
    position: relative;
    line-height: 135%;
    font-size: 1.571rem;
    max-width: 35.714rem;
  }


  &__buttons {
    position: relative;
    .button--primary {
      padding: 19px 22px;
      margin-right: 16px;
    }
    .button--outline {
      padding: 19px 37px;
    }
    
  }
  


  &__scroll-down {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    min-width: 247px;
    min-height: 97px;
    font-size: 0.857rem;
    background-color: $dark;
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase;
    text-decoration: none;
    color: $light;
    transition: color 0.2s;
    &::after {
      content: '';
      width: 30px;
      height: 30px;
      border: 2px solid $primary;
      border-radius: 50%;
      margin-left: 18px;
      background: url(../img/down_arrow.svg) no-repeat center;
    }
    &:hover {
      color: $primary;
    }
  }
}

.instagram {
    background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    &__link{
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 1.05rem;
      text-decoration: none;
      color: $primary;
      transform: rotate(90deg);
      transition: color 0.2s;
      &::after {
        content: '';
        width: 50px;
        height: 1px;
        background-color: $primary;
        margin-left: 16px;
        
      }
      &:hover {
        color: $light;
      }
    }
}

