.project {
  margin-top: -3.36rem;
  padding-top: 13rem;
  padding-left: 2.214rem;
  padding-right: 1%;
  padding-bottom: 23.55rem;
  background: url('../img/bgline.png') no-repeat center;
  background-size: cover;
  &-image__col  {
    padding-top: 1.78rem;
    width: 55%;
  }
}

.col-secion-project {
  width: 43%;
}

.project--swiper-slide__text {
  width: 71%;
  display: flex;
  flex-wrap: wrap;
}




.swiper {
  &-slide {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 6.5rem;
    &-next, &-prev {
      opacity: 0;
      visibility: hidden;
    }

    &__heading {
      color: $primary;
      font-size:  1.285rem;
      text-transform: uppercase;  
      line-height: 1.78rem;
      font-weight: normal;
      font-family: 'Yeseva One', cursive;
      margin-bottom: 0.5rem;
    }
    &__value {
      font-size: 1.07rem;
      line-height: 1.428rem;
    }
    &__text {
      display: flex;
      flex-direction: column;
      margin-top: 0.714rem;
      flex-basis: 50%;
      align-items: start;
      margin-bottom: 0.8rem;
    }
  }
  &-pagination{
    &-bullet {
      width: 10px;
      height: 10px;

      background-color: rgba($light, 0.9);
      &-active {
        background-color: $light;
      }
    }
  }
  &-button {
    
    &-prev, &-next {
      bottom: 0;
      top: auto;
      background-size: 42px;
      width: 42px;
      height: 14px;
      &::after {
        display: none;
      }
    }
    &-prev {

      left: 0;
      background: url('../img/arrow-p.svg') no-repeat center;
    }
    &-next {
      background: url('../img/arow-n.svg') no-repeat center;
    }
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  width: auto;
  bottom: 0;

}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
  margin-bottom: -2px;
}